<div class="grid p-fluid">
  <div class="col-6">
    <p-card header="Travel data" subheader="Define your travel options" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center">
          <img alt="Card" src="assets/travel/travel-header-plane.png" class="w-16rem" />
        </div>
      </ng-template>

      <article [formGroup]="form">
        <div class="grid">
          <div class="field col-6">
            <label for="horizontal">Origin country</label>
            <p-dropdown
              [options]="countries"
              [showClear]="true"
              [disabled]="showingSummary"
              formControlName="originCountry"
              placeholder="Select a country"
              optionLabel="country"
            ></p-dropdown>
          </div>

          <div class="field col-6">
            <label for="horizontal">Origin city</label>
            <p-dropdown
              [options]="getCities(form.get('originCountry')?.value)"
              [showClear]="true"
              [disabled]="!form.get('originCountry')?.value || showingSummary"
              formControlName="originCity"
              placeholder="Select a city"
              optionLabel="city"
            ></p-dropdown>
          </div>
        </div>

        <div class="grid">
          <div class="field col-6">
            <label for="horizontal">Destination country</label>
            <p-dropdown
              [options]="countries"
              [showClear]="true"
              [disabled]="showingSummary"
              formControlName="destinationCountry"
              placeholder="Select a country"
              optionLabel="country"
            ></p-dropdown>
          </div>

          <div class="field col-6">
            <label for="horizontal">Destination city</label>
            <p-dropdown
              [options]="getCities(form.get('destinationCountry')?.value)"
              [showClear]="true"
              [disabled]="!form.get('destinationCountry')?.value || showingSummary"
              formControlName="destinationCity"
              placeholder="Select a city"
              optionLabel="city"
            ></p-dropdown>
          </div>
        </div>

        <div class="grid">
          <div class="field col-6">
            <label for="horizontal">Adults</label>
            <p-inputNumber
              [showButtons]="true"
              [step]="1"
              [disabled]="showingSummary"
              formControlName="adults"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-button-primary"
              incrementButtonClass="p-button-primary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            >
            </p-inputNumber>
          </div>
          <div class="field col-6">
            <label for="horizontal">Children</label>
            <p-inputNumber
              [showButtons]="true"
              [step]="1"
              [disabled]="showingSummary"
              formControlName="children"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-button-primary"
              incrementButtonClass="p-button-primary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="grid">
          <div class="field col-12">
            <label for="horizontal">Class</label>
            <div class="field-radiobutton">
              <p-radioButton
                [disabled]="showingSummary"
                name="class"
                value="ECONOMIC"
                formControlName="class"
                inputId="class1"
              ></p-radioButton>
              <label for="class1">Economic</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                [disabled]="showingSummary"
                name="class"
                value="EXECUTIVE"
                formControlName="class"
                inputId="class2"
              ></p-radioButton>
              <label for="class2">Executive</label>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="field col-12">
            <label for="horizontal"> Use {{ form.get('miles')?.value }} miles </label>
            <p-slider
              formControlName="miles"
              [min]="0"
              [max]="100000"
              [step]="100"
              [disabled]="showingSummary"
            ></p-slider>
          </div>
        </div>
      </article>

      <ng-template pTemplate="footer">
        <p-button
          *ngIf="!showingSummary"
          label="Checkout"
          icon="pi pi-check"
          styleClass="mb-1"
          [disabled]="!form.valid"
          (click)="checkout()"
        ></p-button>
        <p-button
          *ngIf="showingSummary"
          label="Restart"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          (click)="reset()"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="col-6" *ngIf="showingSummary">
    <p-card header="Trip summary" subheader="Confirm your choices" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center">
          <img alt="Card" src="assets/travel/summary.png" class="w-16rem" />
        </div>
      </ng-template>

      <div class="grid">
        <div class="col-12">
          <label>Origin: {{ getOrigin() }} </label>
        </div>
        <div class="col-12">
          <label>Destination: {{ getDestination() }} </label>
        </div>
        <div class="col-12">
          <label>Distance: {{ getDistance() | number: '1.0-2':'pt' }} Km </label>
        </div>
        <div class="col-12">
          <label>{{ form.value.adults }} adult(s), {{ form.value.children }} children(s) </label>
        </div>
        <div class="col-12">
          <label>Fligth type: {{ getClassDescription() }} </label>
        </div>
        <div class="col-12">
          <label>{{ getAdultsCosts() / form.value.adults | currency: 'USD':'$':'1.0-2' }} per adult </label>
        </div>
        <div class="col-12">
          <label
            >{{ getChildrenCosts() / form.value.children | currency: 'USD':'$':'1.0-2' }} per children
          </label>
        </div>
        <div class="col-12">
          <label>Miles: {{ form.value.miles }} </label>
        </div>
        <div class="col-12">
          <label
            >Discounted value per miles: {{ getDiscountedValuePerMiles() | currency: 'USD':'$':'1.0-2' }}
          </label>
        </div>
        <div class="col-12">
          <label>Total: {{ getTotalValue() | currency: 'USD':'$':'1.0-2' }} </label>
        </div>
      </div>
    </p-card>
  </div>
</div>
