<p-card
  header="Trip summary"
  subheader="Confirm your choices"
  styleClass="p-card-shadow"
  *ngIf="showingSummary"
>
  <ng-template pTemplate="header">
    <div class="flex justify-content-center">
      <img alt="Card" src="assets/travel/summary.png" class="w-16rem" />
    </div>
  </ng-template>

  <div class="grid">
    <div class="col-12">
      <label>Origin: {{ getOrigin() }} </label>
    </div>
    <div class="col-12">
      <label>Destination: {{ getDestination() }} </label>
    </div>
    <div class="col-12">
      <label>Distance: {{ getDistance() | number: '1.0-2':'pt' }} Km </label>
    </div>
    <div class="col-12">
      <label>{{ form.value.adults }} adult(s), {{ form.value.children }} children(s) </label>
    </div>
    <div class="col-12">
      <label>Fligth type: {{ getClassDescription() }} </label>
    </div>
    <div class="col-12">
      <label>{{ getAdultsCosts() / form.value.adults | currency: 'USD':'$':'1.0-2' }} per adult </label>
    </div>
    <div class="col-12">
      <label
        >{{ getChildrenCosts() / form.value.children | currency: 'USD':'$':'1.0-2' }} per children
      </label>
    </div>
    <div class="col-12">
      <label>Miles: {{ form.value.miles }} </label>
    </div>
    <div class="col-12">
      <label
        >Discounted value per miles: {{ getDiscountedValuePerMiles() | currency: 'USD':'$':'1.0-2' }}
      </label>
    </div>
    <div class="col-12">
      <label>Total: {{ getTotalValue() | currency: 'USD':'$':'1.0-2' }} </label>
    </div>
  </div>
</p-card>
